
@model WebMVC.Areas.Admin.ViewModels.Genre.GenreCreateViewModel

@{
    ViewBag.Title = "Create genre";
    Layout = "_Layout";
}

<div class="h-full w-full flex justify-center align-center">
    <div class="card bg-base-200 shadow-lg rounded-2xl lg:max-w-5xl w-full">
        <div class="card-body">
            <h2 class="font-bold text-xl">Create genre</h2>
            <form asp-action="Create" method="post" class="grid gap-y-2 gap-x-4 grid-cols-1">
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(g => g.Name, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(g => g.Name, new { @class = "input input-bordered" })
                    <label class="label">
                        @Html.ValidationMessageFor(g => g.Name, "", new { @class = "label-text text-red-500"})
                    </label>
                </div>
                <button class="btn btn-success">
                    <i class="bi bi-plus-circle"></i>
                    Create
                </button>
                @Html.ValidationSummary(false, "", new { @class = "text-red-500" })
            </form>
        </div>
    </div>
</div>


