@model IEnumerable<WebMVC.Areas.Shop.ViewModel.CartItem.CartItemViewModel>

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
}

<div class="container">
    <h2 class="text-2xl font-bold text-white">Cart</h2>

    @foreach (var item in Model)
    {
        <div class="card bg-base-200">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <div>
                        <h5 class="card-title">@item.BookTitle</h5>
                        <p class="card-text">Quantity: @item.Quantity</p>
                    </div>
                    <div>
                        <button class="btn btn-error btn-sm btn-outline"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="mt-4">
            <a href="#" class="btn btn-primary">Proceed to Order</a>
        </div>
</div>