@model List<WebMVC.Areas.Shop.ViewModel.Order.OrderViewModel>

@{
    ViewData["Title"] = "Orders History";
    Layout = "_Layout";
}

<div class="container">
    <h1><b>Order History</b></h1>
    <br/>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.ToShortDateString()</td>
                        <td>@order.TotalPrice</td>
                        <td>@order.OrderStatus</td>
                        <td>
                            <a href="/Shop/Order/Detail/@order.OrderId" class="btn btn-primary">View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No orders found.</p>
    }
</div>
