@{
    ViewBag.Title = "Settings";
    Layout = "_Layout";
}

<h2 class="font-bold text-2xl text-white">Settings</h2>
<div class="grid w-full gap-4 grid-cols-1 lg:grid-cols-3">
    <a href="/Settings/ChangePassword" class="btn-adminpanel-menu">
        <i class="bi bi-key text-4xl"></i>
        Change password
    </a>
    <a href="/Settings/ChangeInfo/" class="btn-adminpanel-menu">
        <i class="bi bi-person text-4xl"></i>
        Change account info
    </a>
</div>
