@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="flex w-full justify-center">
    <div class="flex flex-col items-center gap-4 w-full max-w-screen-2xl">
        <h2 class="font-bold text-2xl text-white">BookHub Admin Panel</h2>
        <div class="grid w-full gap-4 grid-cols-1 lg:grid-cols-3">
            <button class="btn-adminpanel-menu">
                <i class="bi bi-box-seam text-4xl"></i>
                Orders
            </button>
                <button class="btn-adminpanel-menu">
                                <i class="bi bi-book text-4xl"></i>Books</button>
                <button class="btn-adminpanel-menu">
                                <i class="bi bi-tags text-4xl"></i>Genres</button>
                <button class="btn-adminpanel-menu">
                                <i class="bi bi-pencil text-4xl"></i>Authors</button>
                <button class="btn-adminpanel-menu">
                                <i class="bi bi-buildings text-4xl"></i>Publishers</button>
                <button class="btn-adminpanel-menu">
                                <i class="bi bi-people text-4xl"></i>Users</button>
            </div>
    </div>
    
</div>
