@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div role="alert" class="alert alert-error">
    <i class="bi bi-exclamation-triangle"></i>
    <div>
        <h2 class="font-bold text-xl">Access Denied</h2>
        <p>You do not have permission to access this page. Maybe you are trying to access Admin Panel from non-privileged account?</p>
    </div>
    
</div>
