@{
    ViewData["Title"] = "Welcome";
}

<div class="flex justify-center w-full">
    <card class="bg-green-400 rounded shadow-xl text-black">
        <div class="card-body">
            <h2 class="font-bold text-xl">
                Login successful!
            </h2>
            
            <p>
                Welcome to BookHub! You are now logged in.
            </p>
            
            <a href="/" class="font-bold cursor-pointer">Continue to main page.</a>
        </div>
    </card>
</div>
